:root {
  --main-color: #0B4E94;
  --color-1: #2276A2;
  --color-2: #6E77AE;
  --accent-1: #C1A7CA;
  --accent-2: #FB92B1;
}

body {
  background-color: var(--main-color);
  color: var(--color-1);
  font-family: var(--font-main);
}

a {
  color: var(--accent-1);
}

small {
  font-size: x-small;
  font-weight: lighter;
}
h1 {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  font-weight: 300;
  font-size: 64px;
  color: var(--accent-2);
  letter-spacing: 1px;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


@media (max-height: 700px) {
  h1 {
    font-weight: 160;
    font-size: 44px;
    color: var(--accent-2);
    letter-spacing: 1px;
  }
}

@media (max-height: 570px) {
  h1 {
    font-weight: 160;
    font-size: 9px;
    color: var(--accent-2);
    letter-spacing: 1px;
  }
}