:root {
  --main-color: #a3b3a9;
  --color-1: #c5b88b;
  --color-2: #dfa784;
  --accent-1: #9f986a;
  --accent-2: #84836e;
}

body {
  background-color: var(--main-color);
  color: var(--accent-2);
  font-family: var(--font-main);
}

h1 {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  font-weight: 300;
  font-size: 64px;
  color: var(--color-2);
  letter-spacing: 1px;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
